<main class="main-section fit-content">
	<form th:action="@{/ventes/encherir}" method="post">
		<input type="hidden" name="noArticle" th:value="${vente.getNoArticle()}" />
		<h1 class="title">Détail vente</h1>
		<p><strong>Nom :</strong> <span th:text="${vente.getNomArticle()}"></span></p>
		<p><strong>Description :</strong> <span th:text="${vente.getDescription()}"></span></p>
		<p><strong>Catégorie :</strong> <span th:text="${vente.getCategorie().getLibelle()}"></span></p>
		<p><strong>Mise à prix :</strong> <span th:text="${vente.getMiseAPrix()}"></span></p>

		<p><strong>Meilleure offre :</strong>
			<span th:if="${vente.getMeilleureOffre() == vente.getMiseAPrix()}">Pas d'offre</span>
			<span th:unless="${vente.getMeilleureOffre() == vente.getMiseAPrix()}">
			        <span th:text="${vente.getMeilleureOffre()}"></span>
			        <span>pts par</span>
			        <span th:text="${vente.getPseudoMeilleurAcheteur()}"></span>
			    </span>
		</p>

			<p><strong>Fin de l'enchère :</strong> <span th:text="${vente.getDateFinEncheresToString()}"></span></p>
			<p><strong>Retrait :</strong> <span th:text="${vente.getRetrait().toString()}"></span></p>
			<p><strong>Nom vendeur: </strong> <span th:text="${vente.getVendeur().getPseudo()}"></span></p>
			<!-- Si l'utilisateur est le vendeur de l'article, il ne peut pas enchérir -->
			<div class="encherir-section" th:if="${session.user != null and (session.user.noUtilisateur != vente.getVendeur().getNoUtilisateur())}">
				<label for="montantEnchere">Ma proposition :</label>
				<div class="input-section">
					<input type="number" id="montantEnchere" name="montantEnchere">
					<button class="add-btn" type="submit">Enchérir</button>
				</div>
			</div>
	</form>
	<!-- Bouton de modification d'une vente -->
	<div class="button-section">
		<a th:href="@{/ventes/modifier/{noArticle}(noArticle=${vente.getNoArticle()})}" th:if="${utilisateur != null and (vente.getVendeur().getNoUtilisateur() == utilisateur.getNoUtilisateur())}">
			<button class="primary-btn">Modifier</button>
		</a>
	</div>
	<!-- Condition pour afficher le bouton d'annulation si la date de début de l'enchère est dans le futur -->
	<p th:if="${vente.getDateDebutEncheres() != null && vente.getDateDebutEncheres().isAfter(T(java.time.LocalDateTime).now())}">
		<a th:href="@{/ventes/supprimer/{noArticle}(noArticle=${vente.getNoArticle()})}">
			<button>Annuler la vente</button>
		</a>
	</p>
</main>

