<th:block th:object="${vente}">
	 <form action="/ventes/enregistrer" method="post">
		<input type="hidden" th:field="*{noArticle}" id="noArticle">

		<div>
			<label for="nomArticle">Nom *: </label>
			<input type="text" th:field="*{nomArticle}" id="nomArticle">
		</div>

		<div>
			<label for="description">Description *: </label>
			<input type="text" th:field="*{description}" id="description">
		</div>

		<div>
		  <label for="category">Catégorie *: </label>
		  <select id="category" name="category">
		  	<option th:each="c : ${categories}"
					th:value="${c.getNoCategorie()}"
					th:text="${c.getLibelle()}"
					th:selected="${vente.getCategorie() != null && vente.getCategorie().getNoCategorie() == c.getNoCategorie()}"></option>
		  </select>
		</div>

		<div>
			<label for="miseAPrix">Mise à prix *: </label>
			<input type="number" th:field="*{miseAPrix}" id="miseAPrix">
		</div>

		<div>
			<label for="dateDebutEncheres">Début de l'enchère *: </label>
			<input type="datetime-local" th:field="*{dateDebutEncheres}" id="dateDebutEncheres">
		</div>

		<div>
			<label for="dateFinEncheres">Fin de l'enchère *: </label>
			<input type="datetime-local" th:field="*{dateFinEncheres}" id="dateFinEncheres">
		</div>

		<div>
			<span>Retrait</span>
			<div>
				<label for="rue">Rue *: </label>
				<input type="text" name="rue" id="rue"
					   th:value="${vente.getRetrait() != null ? vente.getRetrait().getRue() : ''}">
			</div>

			<div>
				<label for="codePostal">Code Postal*: </label>
				<input type="text" name="codePostal" id="codePostal"
					   th:value="${vente.getRetrait() != null ? vente.getRetrait().getCodePostal() : ''}">
			</div>

			<div>
				<label for="ville">Ville *: </label>
				<input type="text" name="ville" id="ville"
					   th:value="${vente.getRetrait() != null ? vente.getRetrait().getVille() : ''}">
			</div>
		</div>

		<button type="submit">Enregistrer</button>
		<button type="reset">Réinitialiser</button>
		 <input type="hidden"
				th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}"/>
	</form>
	<a th:href="@{/ventes}"><button>Annuler</button></a>
</th:block>