<div class="main-section" th:object="${categorie}">
    <form action="#" th:action="@{/categories/enregistrer}" method="post" class="form-centered">
        <h1>Ajout d'une catégorie</h1>

        <div th:if="${erreur != null}" style="color: red;">
            <p th:text="${erreur}"></p>
        </div>

        <input type="hidden" th:field="*{noCategorie}" id="noCategorie">
        <div class="form-group">
            <label for="libelle">Libellé <span class="compulsory-cross">*</span></label>
            <input type="text" th:field="*{libelle}" id="libelle" placeholder="Libellé" th:attr="class=${#fields.hasErrors('libelle') ? 'input-error' : ''}">
            <span style="color: red;" th:if="${#fields.hasErrors('libelle')}">
                <ul>
                    <li th:each="erreur : ${#fields.errors('libelle')}" th:text="${erreur}"></li>
                </ul>
            </span>
        </div>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <button type="submit" class="add-btn">Ajouter</button>
    </form>
</div>

