/**
    Fichier css de base (reset des styles css classique/styles globaux à l'application)
 */

/* Import de la font 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "article.css";

body {
    font-family: 'Roboto', serif;
}

h1.title {
    text-align: center;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
    outline: none;
}