<nav class="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="logo-section">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo">
            <span>Les Enchères - by GR2</span>
        </a>
    </div>

    <div class="links-section">
        <span><a th:href="@{/ventes}">Ventes</a></span>
        <span><a th:href="@{/ventes/ajouter}">Vendre un article</a></span>
        <span sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/categories}">Catégories</a></span>
        <span sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/utilisateurs}">Utilisateurs</a></span>
    </div>

    <div class="user-section">
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button type="submit" class="primary-btn">Se connecter / S'inscrire</button></a>
        <a sec:authorize="isAuthenticated()"><form th:action="@{/logout}" method="post">
            <button type="submit" class="remove-btn">Se déconnecter</button>
        </form></a>
    </div>

</nav>
