<nav style="width: 100%; display: flex; flex-direction: column;" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <div style="display: flex; flex-direction: row; justify-content: start; align-items: center">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="Logo" height="40" style="margin-right: 10px">
            </a>
            <span>Les Enchères - by GR2</span>
        </div>
        <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><button type="submit">Se connecter / S'inscrire</button></a>

        <!-- Afficher le profil de l'utilisateur -->
        <a sec:authorize="isAuthenticated()" th:if="${session.user != null}"
           th:href="@{/utilisateurs/{noUtilisateur}(noUtilisateur=${session.user.noUtilisateur})}">
          <button type="submit">Mon Profil</button>
        </a>

        <!-- Boutton de déconnexion -->
        <a sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="remove-btn">Se déconnecter</button>
            </form>
        </a>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly">
        <span><a th:href="@{/ventes}">Ventes</a></span>
        <span><a th:href="@{/ventes/ajouter}">Vendre un article</a></span>
        <span sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/categories}">Catégories</a></span>
        <span sec:authorize="hasAnyRole('ADMIN')"><a th:href="@{/utilisateurs}">Utilisateurs</a></span>
    </div>
</nav>
